[2021-05-07 10:13] dashengjiadao opened #2 "nothing"

[2021-05-13 20:53] #2 closed

[2021-06-25 06:46] Webreaper opened #3 "Not so much an issue, but a message :)"
Hi there, I wanted to let you know that I'm building some object-recognition into my [photo-management app](http://github.com/webreaper/damselfly) and I'm basing the code on this implementation of Yolo, because your code is super-simple and super clear. So wanted to say thanks for making it available via the MIT licence. I'll credit you in the app!

[2021-07-24 06:15] xu998 opened #4 "optional detect layer parsing added"
hi,
I get the onnx from
python export.py --weights yolov5s.pt --img 640 --batch 1
it outputs do not have 561
what can I do add it ?

[2021-07-27 12:02] kkarahainko commented on #4
@xu998 hi, check outputs with Netron https://i.imgur.com/qmiEU4Y.png, https://netron.app

[2021-07-27 12:05] kkarahainko commented on #4
if no detect layer exported, set UseDetect = false, OutputNames = new[] { output1, output2, output3 }

[2021-07-29 08:51] #4 closed

[2021-08-04 19:57] StefanCiobanu1989 opened #5 "It does not work with custom onnx"
Hi, i know i'm doing something wrong but i cant tell what it is .
When i run the code i get the following error :
![image](https://user-images.githubusercontent.com/86718588/128246087-cf8beff6-a5d5-4539-a6e2-dbdd59af5b84.png)

This is the model config and i think here is where i'm missing something :
![image](https://user-images.githubusercontent.com/86718588/128246244-23ab5068-75bd-4fd3-a0e2-8592

[2021-08-05 08:44] kkarahainko commented on #5
@StefanCiobanu1989 hi, can you inspect your model with https://netron.app/, I need this https://i.imgur.com/OMPx26W.png, or send me your onnx file.

[2021-08-05 08:48] StefanCiobanu1989 commented on #5
![image](https://user-images.githubusercontent.com/86718588/128321193-5b209a28-4972-4529-b0d3-c8a91ec543f2.png)

[2021-08-05 08:51] kkarahainko commented on #5
@StefanCiobanu1989 change Dimensions parameter to 6 instead of 85.

[2021-08-05 08:54] StefanCiobanu1989 commented on #5
I have changed it to it still says "'Index was outside the bounds of the array.'".

[2021-08-05 08:58] kkarahainko commented on #5
@StefanCiobanu1989 looks like output name is also wrong, please change OutputNames to { "output" } instead of { "519" } because you use detect layer.

[2021-08-05 09:04] StefanCiobanu1989 commented on #5
My friend... you are a god ! That did it i can now use my custom model!! Spasiba very much for your assistance!

I have a request if possible. Could you make a video guide or text about how to tell where to pick the values we went trough?
I mean what if i was to create a new custom model how would i adapt my code to match it ?

Thank a lot again !

[2021-08-05 09:11] kkarahainko commented on #5
@StefanCiobanu1989 thanks man, you're welcome, all you need is Netron, and these params https://i.imgur.com/EYJa3VE.png.

[2021-08-05 09:14] kkarahainko commented on #5
@StefanCiobanu1989 you can also calc dimensions as "5 (fixed layers for bboxes conf etc) + number of your labels", you have 1 label so your dimensions is 6, if you'll have 3 custom labels it will be 8 so on.

[2021-08-05 09:29] StefanCiobanu1989 commented on #5
Much appreciated

[2021-08-05 11:40] #5 closed

[2021-08-05 11:40] #3 closed

[2021-08-07 22:40] StefanCiobanu1989 opened #6 "It's me again !"
Hi again,
This time i'm not coming back with an issue it more of a question to which i could not find the answer.
I have not managed to implement GPU usage instead of CPU i downloaded the onnx runtime gpu and still cant get it to work.
Have you done any experiments of this sort in the past ? Have you got it to work with videos ? Thanks !

[2021-08-10 09:11] kkarahainko commented on #6
@StefanCiobanu1989 sorry, didn't try it.

[2021-08-10 13:34] #6 closed

[2021-08-12 14:03] Nisse123 opened #7 "Help with using Yolov5l.onnx"
First, thank you for posting this code.
I am trying to use another Yolov5 model but I do not understand what to change.
In Netron, the model has 3 outputs (screen shoot).
I changed UseDetect to false and Outputnames to { "out0", "out1", "out2" }; but the result is garbage
I do not understand the relation between all the parameters here, could you please point out what needs to be changed?

I notic

[2021-08-12 14:43] kkarahainko commented on #7
@Nisse123 hi, did you export the default yolov5l (with coco dataset) model or it's something custom trained?

[2021-08-12 15:15] kkarahainko commented on #7
@Nisse123 outputs should look like https://i.imgur.com/iEMv3A7.png, maybe you have an older version, outputs look strange, try export with the latest yolov5 release https://github.com/ultralytics/yolov5.

[2021-08-12 15:34] kkarahainko commented on #7
@Nisse123 just exported the latest yolov5l.pt to onnx, works good https://drive.google.com/file/d/1HwqT_P_svYux6J1z-FXAVXWlq-C4PlPR/view, pls try.

[2021-08-13 07:10] Nisse123 commented on #7
Thank you!
I must have picked a bad model, my mistake.

Would you like to point out what need to be changed if I want to test the higher resolution models like YOLOv5m6?
Is it to change Width and Height to 1280 or do I need to change more parameters?

If I want to learn the specification for output,651, 712,773 , the meaning of the order of the parameters, could you please point out some tutorial

[2021-08-13 11:44] kkarahainko commented on #7
@Nisse123 I've just added P6 example, take a look, I don't think I'll have enough time and knowledge to write yolov5 paper ;) it'll be better to wait for the official paper, docs from the author. Anyway, yolo5 docs and code are quite clear, you may find anchors (for example) here https://github.com/ultralytics/yolov5/blob/master/models/hub/anchors.yaml, shapes, and all other parameters are availab

[2021-08-13 11:49] kkarahainko commented on #7
@Nisse123 to try P6 just change the model type here https://i.imgur.com/pWhUTaM.png to YoloCocoP6Model.

[2021-08-13 11:49] #7 closed

[2021-08-15 12:44] keesschollaart81 opened #8 "NuGet package"
First of all: great work! Thanks for sharing it here at GitHub!

I would love to use this as a NuGet package, mainly the Scorer project. If you want, I can do a PR do help you a bit (package metadata, GH Action, etc.). Let me know if you're open to that!

[2021-08-16 16:03] kkarahainko commented on #8
@keesschollaart81 hi, great idea, done https://www.nuget.org/packages/Yolov5Net/1.0.1, it's now on .NET Standard 2.0 + little changes according to package isolation, for example, weights path cant be baked right into a model class, so I've added an ability to load weight from file, stream, and byte array via a constructor. Pls see the console app example.

[2021-08-16 17:13] keesschollaart81 commented on #8
Lol! That was quick, cheers 🥂 on getting it on NuGet this quick!

I'll give it a spin later this week and come back here with feedback. Thanks!

[2021-08-17 10:43] kkarahainko commented on #8
@keesschollaart81 new version is here https://www.nuget.org/packages/Yolov5Net/1.0.2, readme changed.

[2021-08-17 12:20] Nisse123 commented on #8
great work. I think there is a need to handle dispose in some places  like using (var result = inference.Run(inputs) {...] and also disposing the resulting tensor as well.

[2021-08-18 09:07] keesschollaart81 commented on #8
I have some delay in the testing. I wanted to run this on my Jetson Nano (with CUDA provider) but this is ARM64 and this seems not to be supported jet. I have to fix that first, I will report back here but maybe not this week.

[2021-08-20 09:55] cross-hello opened #9 "Unable to find an entry point named ‘OrtGetApiBase’ in DLL ‘onnxruntime’"
I am sorry that VS2019 give me such a reponse when I finally locate it in here:
![image](https://user-images.githubusercontent.com/42733664/130216030-6a026431-e469-448e-870a-2d12ddcd375a.png)
Could you help me anyway?

[2021-08-20 09:59] cross-hello commented on #9
I am using .Net framework 4.7.2, and I installed it from NuGet Package Manager with **Microsoft.ML.OnnxRuntime** 1.8.1

[2021-08-20 10:44] kkarahainko commented on #9
@cross-hello can't reproduce, just created 4.7.2 Console App (https://i.imgur.com/dnD6VLn.png). Installed the Yolov5Net 1.0.2 package from Nuget (check latest version https://www.nuget.org/packages/Yolov5Net/1.0.2), and It works. No need to install OnnxRuntime it comes with Yolov5Net package.

[2021-08-20 10:50] kkarahainko commented on #9
@cross-hello try to debug this https://drive.google.com/file/d/1k_I7gekUdWqnZoluBkwyohVi0i8K_kHk/view

[2021-08-20 11:03] kkarahainko commented on #9
@cross-hello ok, after restoring packages it doesnt copy onnxruntime.dll look at this https://github.com/microsoft/onnxruntime/issues/1699 it's known issue, you may copy always dll from packages folder (...\packages\Microsoft.ML.OnnxRuntime.1.8.1\runtimes\win-x86) or specify platform (x64, x86) as described.

[2021-08-20 13:24] #9 closed

[2021-08-23 05:14] cross-hello commented on #9
Thanks for your reply, it is sorry that I may no some familar with C sharp platform. It is still a time for us= - =
Thank you

[2021-09-05 12:26] alijundi opened #11 "YoloModel - Custom Model"
Hi @kkarahainko @keesschollaart81

I added my custom model and exported my .onnx from colab I ran the project after making my custom model.

I get System.IndexOutOfRangeException: 'Index was outside the bounds of the array.'
in function ParseDetect. I am not sure what to change in my custom model class to avoid this!

By the way. The code works well on the models and test image provided.

[2021-09-05 12:47] kkarahainko commented on #11
@alijundi please provide a screenshot from Netron (like this https://i.imgur.com/2X2H2Co.png) and your custom model class (code) with parameters.

[2021-09-05 12:55] alijundi commented on #11
@kkarahainko

Thank you for your prompt answer. Below is the code:

`using System.Collections.Generic;
using Yolov5Net.Scorer.Models.Abstract;

namespace Yolov5Net.Scorer.Models
{
    public class YoloCocoP7Model : YoloModel
    {
        public override int Width { get; set; } = 416;
        public override int Height { get; set; } = 416;
        public override int Depth { get; set; } = 3;

[2021-09-05 12:57] alijundi commented on #11
[code]

[2021-09-05 13:32] kkarahainko commented on #11
@alijundi

1. you have no Detect layer exported (detect layer looks like this https://i.imgur.com/FgjTDTQ.png)
2. wrong dimensions, should be 36 instead of 85, wrong shapes, should be { 13, 26, 52 } instead of { 20, 40, 80 };
3. looks like your model trained on yolov5 P5 version but you use P6 code as a reference, use YoloCocoP5Model example as a reference;
4. you have 31 labels but I see only 3 l

[2021-09-05 13:49] alijundi commented on #11
@kkarahainko Thank you for your feedback:

I updated the code to the below:

[2021-09-05 13:49] alijundi commented on #11
[code]

[2021-09-05 13:51] alijundi commented on #11
![VS-Debug-Yolov5](https://user-images.githubusercontent.com/4628726/132129340-667f071d-8430-4526-8ca9-bfcfa919a54f.jpg)

[2021-09-05 13:51] alijundi commented on #11
@kkarahainko I am getting the above exception now. Am I doings something wrong here?

[2021-09-05 14:01] alijundi commented on #11
I used the below code in colab to export .pt trained model to .onnx

`!python /content/yolov5/models/export.py --weights /content/yolov5/runs/train/yolov5s_results/weights/best.pt --img 416 --batch 1  # export`

Any thoughts?

[2021-09-05 14:25] kkarahainko commented on #11
@alijundi pls, change Shapes order "public override int[] Shapes { get; set; } = new int[] { 52, 26, 13 };"

[2021-09-05 14:27] kkarahainko commented on #11
@alijundi can you provide a test image?

[2021-09-05 14:28] alijundi commented on #11
@kkarahainko lemme try it now...

[2021-09-05 14:32] alijundi commented on #11
@kkarahainko result is being outputed with no predictions.. INPUT == OUTPUT

[2021-09-05 14:33] alijundi commented on #11
![test3](https://user-images.githubusercontent.com/4628726/132130680-42086421-6c35-4e59-8fff-48f5d87bdbe3.jpg)

[2021-09-05 14:34] alijundi commented on #11
above is test input

[2021-09-05 14:35] kkarahainko commented on #11
@alijundi is yolov5/detect.py detects something? did you try?

[2021-09-05 14:39] alijundi commented on #11
![2021-09-05 17_38_58-Copy of Roboflow-Custom-YOLOv5 - Colaboratory](https://user-images.githubusercontent.com/4628726/132130843-80fb9753-8b70-451c-b6a8-1f9fa8e05d54.png)

[2021-09-05 14:39] alijundi commented on #11
The output is from Roboflow-Custom-YOLOv5 that is what I used to train my model

[2021-09-05 14:47] kkarahainko commented on #11
@alijundi I mean did you try detect.py on the test image you've sent to me?

[2021-09-05 15:33] kkarahainko commented on #11
@alijundi I suppose it doesn't detect too?

[2021-09-05 15:50] alijundi commented on #11
@kkarahainko I am sorry I took sometime to respond to you. I was actually on the way home.

and YES! I tried all images that make up the model with no success. It is not detecting anything!

Do you know why?

[2021-09-05 16:01] kkarahainko commented on #11
@alijundi it's all about pixels, the test image is b/w no labels etc, training image is colored with labels, you should train on the similar images you will use further (to predict), or not enough epochs, low mAP etc.

[2021-09-05 19:36] #11 closed

[2021-09-06 17:39] zimmym opened #12 "EntryPointNotFoundException"
**PLEASE FOR GET THIS ISSUE!
I just forgot to install Microsoft.ML.OnnxRuntime.**
And now, I feel really stupid...

Hi, by using your sample code, I get an Exception.

System.TypeInitializationException
  HResult=0x80131534
  Nachricht = The type initializer for 'Microsoft.ML.OnnxRuntime.NativeMethods' threw an exception.
  Quelle = Microsoft.ML.OnnxRuntime

Innere Ausnahme 1:
EntryPointNotFoundEx

[2021-09-06 17:51] #12 closed

[2021-09-06 22:00] zimmym opened #13 "Sequence contains no matching element by using custom ONNX File"
Hi, by trying to use a custom Onnx File there is an exception:

System.InvalidOperationException
    Nachricht = Sequence contains no matching element
  Quelle = System.Linq

_line 130, YoloScorer.cs_

Source Code:

  private DenseTensor<float>[] Inference(Image image)
    {
            Bitmap resized = null;

            if (image.Width != _model.Width || image.Height != _model.Height)

[2021-09-07 17:50] kkarahainko commented on #13
@zimmym inspect your onnx with Netron and check output names, looks like model config Outputs and onnx outputs are not the same.

[2021-09-08 19:00] ken99999 opened #14 "No fetures detected on Ubuntu"
Hi,

form tha same image in Window i can detect features while in linux (core 5.0) the deployed server doesnt detect any feature. But no exceptions..  Any idea ?

[2021-09-08 19:15] ken99999 commented on #14
RESOLVED: in linux i should convert Mat (OpenCv) to Image specifing ".png", with ".jpg" throw error.

right conversion: (inputFrame is type Mat)
using var memoryStream = inputFrame.ToMemoryStream(ext: ".png");

[2021-09-08 19:15] #14 closed

[2021-09-09 07:11] alijundi opened #15 "onnx export file using image width:640 and height:640 not detecting any predictions"
@kkarahainko

First of all I would like to thank you for this awesome library. I now started training my custom model and was able to detect everything as expected using python detect.py

I export the .pt file of my model using the below command:
`python export.py --weights custom_dataset/ReadyModel/SMDB.pt --img 640 --batch 1`

Then I used that in the asset and made my custom model baed on the Yo

[2021-09-09 07:14] #13 closed

[2021-09-09 07:16] kkarahainko commented on #15
@alijundi hi, can you pls provide .pt & .onnx files and a test image? I'll check on my side.

[2021-09-09 07:18] kkarahainko commented on #15
@alijundi and model config as well.

[2021-09-09 07:40] alijundi commented on #15
@kkarahainko I actually changed the depth from 85 to 9 and looks like it is working now! But the prediction confidence is very different than what I am getting in python. Please see the result from the too.

RESULT FROM python:
![66](https://user-images.githubusercontent.com/4628726/132641416-0368b01c-7a67-4ff9-9639-bc3a79fc896f.jpg)
RESULT FROM Wrapper:
![result](https://user-images.githubusercon

[2021-09-09 08:11] alijundi commented on #15
@kkarahainko I forgot to include the test image. Here you go:

![test66](https://user-images.githubusercontent.com/4628726/132648583-2a91b190-25d3-4215-ab19-e5be52584f1c.jpg)

[2021-09-09 13:17] alijundi commented on #15
@kkarahainko did you happen to test it already? I have spent hours and until now I have no clue why this is happening!

[2021-09-09 13:25] kkarahainko commented on #15
@alijundi yes, i found the problem, do you use nuget package or cloned locally? Going to push changes in next few hours.

[2021-09-09 13:27] alijundi commented on #15
@kkarahainko I cloned it locally.

Once uploaded if you can explain what was the issue that would be great.

[2021-09-09 14:02] kkarahainko commented on #15
@alijundi pushed. pls try, image resizing method (to fit model input size) was not correct, now it keeps ratio.

[2021-09-09 14:34] alijundi commented on #15
@kkarahainko Excellent work!

Now it woks perfectly fine. Thank you so much.

I will close issue now.

[2021-09-09 14:34] #15 closed

[2021-09-10 15:03] pandyer opened #16 "hi can make a demo video?"
I remade onNX but don't know how to modify YoloModel.

[2021-09-10 17:22] kkarahainko commented on #16
@pandyer

1. inspect your model with Netron app (input: images), https://i.imgur.com/DxohNvC.png;
2. inherit your custom model class from YoloModel, change Width, Height, Dimensions (labels count + 5) then add your Labels, change Outputs (from Netron) if required;
3. use this https://github.com/mentalstack/yolov5-net/blob/master/src/Yolov5Net.Scorer/Models/YoloCocoP5Model.cs for reference.

[2021-09-11 18:00] #16 closed

[2021-09-12 21:50] zydjohnHotmail opened #17 "How to add new objects for detection?"
Hello:
I have tested your repo., it works well for already defined objects, like people.  But in my image, I want to detect a logo, you can see the part I circled with a red box.
By the way, I also want to detect other objects, one is score board, if you see the basketball game, you know what scoreboard is. Another is a clock, like in the train station or other public transport station, people wil

[2021-09-13 09:09] kkarahainko commented on #17
@zydjohnHotmail hi, yolov5-net is only an "inference wrapper" over ultrlytics/yolov5, so to train a custom model please look at https://github.com/ultralytics/yolov5/wiki/Train-Custom-Data it's quite a simple task, you may use Google Colab, Roboflow to speed up training, and LabelBox for annotations.

[2021-09-13 11:07] zydjohnHotmail commented on #17
Hello:
Thanks for your reply. I will spend some time to understand how to train a custom model.
However, what I want to know is: since all the training is in Python, after I trained my custom model, how I can use the result back in yolov5-net?
I see your code, under Assets, there is one weight folder, and there are 2 files:
yolov5s.onnx and yolov5s6.onnx
What I should do to convert what kind of re

[2021-09-13 11:15] kkarahainko commented on #17
@zydjohnHotmail after training just export model from .pt to .onnx https://github.com/ultralytics/yolov5/issues/251, single code line `python export.py --weights custom_model.pt --img 640 --batch 1`, then use it from C# (with yolov5-net).

[2021-09-13 16:44] zydjohnHotmail commented on #17
Hello:
I have some hard time to train a small dataset with only 3 images and one label.
From your experience, do I have to install a whole bunch stuff like: CUDA and CUDNN?
I have a powerful CPU: AMD Threadripper with 16-core CPU and 128GB RAM, for most of the heavy-computing job, using CPU is enough.  And the size of CUDA is amazing: 2.8GB.
Can I train such small dataset without installing all th

[2021-09-13 16:56] kkarahainko commented on #17
@zydjohnHotmail honestly, you don't need anything locally on your PC, just use Google Colab, it provides GPU env with filesystem for free. To train just use `python train.py --img 640 --batch 16 --epochs 3 --data logo.yaml --weights yolov5s.pt` without --cfg etc. Use this as example https://colab.research.google.com/github/ultralytics/yolov5/blob/master/tutorial.ipynb#scrollTo=1NcFxRcFdJ_O.

[2021-09-13 17:02] kkarahainko commented on #17
@zydjohnHotmail, of course, you need more epochs, about 500 - 1000 (not 3) 😄

[2021-09-13 18:47] zydjohnHotmail commented on #17
Hello:
Thank you very much for your advice, the following is my logo.yaml file:

C:\Videos\ultralytics\yolov5>type logo.yaml
# Train/val/test sets as 1) dir: path/to/imgs, 2) file: path/to/imgs.txt, or 3) list: [path/to/imgs1, path/to/imgs2, ..]
path: ../datasets/logo  # dataset root dir
train: ../datasets/logo/images/logo3  # train images (relative to 'path')
val: ../datasets/logo/images/logo3  #

[2021-09-15 06:22] kkarahainko commented on #17
@zydjohnHotmail inherit your custom model class from YoloModel and override required properties (width, height etc) like this https://github.com/mentalstack/yolov5-net/blob/master/src/Yolov5Net.Scorer/Models/YoloCocoP5Model.cs.

[2021-09-15 07:42] zydjohnHotmail commented on #17
Hello:
Thank you very much for your reply.  I am trying to figure out how to do what you have said.
I have done the following:
I created one WinForms App project with Visual Studio 2019 named “Yolov5NetDetectOBJForm” (target .NET 5.0).  Add one PictureBox to show the PNG image with 768px by 432px, and one button: ButtonDetect, when I click on it, it will run object detect by the old yolov5.onnx.
I

[2021-09-20 07:21] kkarahainko commented on #17
@zydjohnHotmail can you provide me with your custom trained onnx file?

[2021-09-20 07:24] kkarahainko commented on #17
@zydjohnHotmail if you trained your model on 640 x 640 images then width and height in model class should be 640 x 640, not 768 x 462, all labels should be defined as well, not only person.

[2021-09-20 10:47] zydjohnHotmail commented on #17
Hello:
I found the major issue is that my onnx file is not suitable to be used in yolov5-net.
To train the model seems not easy.  At first, I trained my model using only 30 images with only one label "logo", but when I used my trained model, I can't detect any logo object.
Later, I trained my model with more than 2000 images, it took nearly one day, but I didn't have time to test it.
I can give it

[2021-09-20 11:15] kkarahainko commented on #17
@zydjohnHotmail sad to hear, maybe something wrong with a training config or dataset, I've tested on different projects and more complex tasks, and it worked as expected.

[2021-09-20 11:15] #17 closed

[2021-09-24 13:17] alijundi opened #18 "Add images to my model during runtime and retrain"
Hi @kkarahainko

In my case I need the user to add labeled images to the trained model while in runtime. It is some some sort of feedback to the system.

Is it possible to do here? Or it is just via Python and retrain using existing weights and adding the images to the dataset then export to onnx.

It would be great if we can do it in c# since the added images are single items that will add accura

[2021-09-24 13:57] kkarahainko commented on #18
@alijundi not possible... you have to retrain https://github.com/ultralytics/yolov5/issues/980, https://github.com/ultralytics/yolov5/issues/1071.

[2021-09-24 16:41] #18 closed

[2021-09-27 01:53] deaddlocust opened #19 "Index was out of bounds of array?"
I'm not sure if I missed something or if this error is even related to this project but whenever I run my program I keep on getting this exception from DenseTensor.cs :
![image](https://user-images.githubusercontent.com/70506265/134833920-8e5992ba-b0cf-461b-b356-9da5a57fa837.png)

I'm using a custom trained model and this is what it looks like in Netron:
![image](https://user-images.githubusercont

[2021-09-27 07:04] kkarahainko commented on #19
@deaddlocust change shapes to 20, 10, 5

[2021-09-27 07:31] deaddlocust commented on #19
Thanks it works now.

[2021-09-27 07:31] #19 closed

[2021-10-02 19:24] onderaliozdemir opened #21 "How do i train for custom model ?"
I know how to create weight file with yolo v4. But for .onnx I have no idea. How can I create a dataset with my own images and classes?

[2021-10-04 07:29] kkarahainko commented on #21
Train:
https://github.com/ultralytics/yolov5/wiki/Train-Custom-Data

Export to onnx:
https://github.com/ultralytics/yolov5/issues/251

[2021-10-04 07:29] #21 closed

[2021-10-04 15:47] jacklee-code opened #22 "custom model doesn't work even I changed the dimension and shape"
the .onnx and .pt work both in yolov5 detect.py but I don't know why the .onnx doesn't work on Yolov5-Net.
I believe that Yolov5-Net is functioning well since the result is fine if I change the model and weight to YoloCocoP5Model and yolov5s.onnx. It just doesn't work if I use my own model. Here is my code :

class HarryPotterModel : YoloModel
    {
        public override int Width { get; set; }

[2021-10-04 18:56] Tomdri opened #23 "Difference between Confidence and MulConfidence attributes?"
I don't quite understand the difference between the two model parameters. Which one is the actual confidence threshold where predictions lower than the threshold will be rejected ? Do they both have to be set to the same value ?

[2021-10-05 03:23] dstampher commented on #22
@jacklee-code I noticed that your output from detect.py has the bounding box labeled as "class0", but in YoloV5-Net you have the class name "person", not sure if that will matter here but maybe changing "person" to "class0" might work for you.

I also wanted to say that I cloned this repo today and am having the same issue, but also a problem with changing the height/width of a model.  I trained a

[2021-10-05 03:46] jacklee-code commented on #22
@dstampher yes, I have noticed that export.py change my label from 'player' to 'class0'. I have tried both new YoloLabel { Id = 1, Name = "player" } and new YoloLabel { Id = 1, Name = "class0" }. They all not working for me I don't know why. :(

[2021-10-05 03:50] dstampher commented on #22
@jacklee-code Yeah same here, I just tried that for my own use case and it still didn't work unfortunately.  I am wondering if maybe some of the properties that we are using are invalid for our models.  If you were like me, you copied one of the included classes and just changed the labels.

I am doing some experimenting right now, but hopefully one of the contributors of this repo can jump in her

[2021-10-05 06:37] kkarahainko commented on #22
@jacklee-code thanks for it, found an issue, changes pushed @dstampher if you trained on 320 then change you w,h to 320 in model config (C# class).

[2021-10-05 06:41] kkarahainko commented on #22
@dstampher please open a new issue and provide me with onnx file and test image, just to not mix with @jacklee-code's issue, hard to answer.

[2021-10-05 06:55] kkarahainko commented on #23
Confidence is responsible for "objectness" - a measure of the probability that an object exists in a proposed region (cell). MullConfidence is the final one, it's what you see as a result = objectness * label confidence (what exact object). So having the ability to control both of them allows you to have better results by tuning these parameters. You may leave Confidence as it is, change only MulC

[2021-10-05 07:04] jacklee-code commented on #22
@kkarahainko there still no prediction after I clone the lastest source code into my project

[2021-10-05 07:06] dstampher opened #24 "Microsoft.ML.OnnxRuntime.OnnxRuntimeException When changing Width and Height properties of a custom model."
Link to onnx model and test image: https://drive.google.com/file/d/12MVcF0Ir0sEnNjmKHKjDnPItvEw6l9mi/view?usp=sharing

Model works fine with detect.py, although the bounding box isn't as wide as it should be in the provided test.jpg (fixed that problem by training at a higher res, but haven't converted that .pt file to .onnx yet).

[code]

And here is my class:

[code]

[2021-10-05 07:15] kkarahainko commented on #22
@jacklee-code

inference:

[code]

model config:

[code]

result:

![result](https://user-images.githubusercontent.com/1279307/135977239-a53981f5-a786-4173-8a49-16a880e726d4.jpg)

[2021-10-05 07:21] jacklee-code commented on #22
@kkarahainko thank you very much. It's my fault. I forgot to change "new YoloScorer<MODEL_CLASS>" to my own model after the test. Thank you very much!!

[2021-10-05 07:21] #22 closed

[2021-10-05 07:24] kkarahainko commented on #24
@dstampher

inference:

[code]

model config:

[code]

result:

![result](https://user-images.githubusercontent.com/1279307/135978444-39117b38-aff5-4308-82dc-5c5c0278191c.jpg)

[2021-10-05 07:26] kkarahainko commented on #24
@dstampher please update NuGet package or clone latest version.

[2021-10-05 07:33] dstampher commented on #24
@kkarahainko Using newest version, it works for inference now, same exception happens when I change width/height to 320 however.  My dataset images were all 300x300 so I trained at 320x320.

Still works at 640x640 for inference, but this inability to change width/height might be a problem for other users of this repo.

[2021-10-05 07:40] kkarahainko commented on #24
@dstampher not sure what do you mean, you've trained your model with --img 640, inspect your onnx file with [netron.app](https://netron.app/) to be sure, you also may run Predict with any size of images. no need to change w.h to 320 In model config C# class.

[2021-10-05 07:44] dstampher commented on #24
@kkarahainko Ah yes, sorry about that.  My 320x320 training was a previous run.  Note to self:  don't touch width/height in my class that inherits from YoloModel.  Got it.

[2021-10-05 07:44] #24 closed

[2021-10-05 07:47] kkarahainko commented on #24
@dstampher no problem, you may touch it ) it depends on what size you training, for P6 models it may be 1024 for example etc, for P5 up to 640 the best option.

[2021-10-05 09:12] jacklee-code opened #25 "Unable to detect object in C# but able to detect in Python"
I write the following code to grab the image of my screen and put it into scorer.Predict(image). Most of the time it detects in the wrong area or it just gets no prediction.

[code]
So I try to save the screenshot from CaptureScreen() and use Image.FromFile to check whether it gets prediction or not. It turns out that it didn't get any prediction. However, I got the correct result if I use detect.

[2021-10-05 10:53] dstampher commented on #25
Having the same problem over here.  I am getting predictions when I clone the repo, but when I install the latest version v1.0.5 via NuGet, in my own project, I am not getting predictions.

[code]

[2021-10-05 11:46] kkarahainko commented on #25
@dstampher @jacklee-code thanks guys, the same thing - all test images I use are 24bpp, your one is 32bpp, so pixel extraction improved to handle both pixel formats - check the latest code in repo, let me know.

[2021-10-05 11:48] jacklee-code commented on #25
@kkarahainko yep, I just figure out the problem when I use the debugger and set a breakpoint before predict method. After I use Bitmap bm = new Bitmap(Screen.PrimaryScreen.Bounds.Width, Screen.PrimaryScreen.Bounds.Height, PixelFormat.Format24bppRgb); the problem solved. By the way, thanks a lot

[2021-10-05 11:49] kkarahainko commented on #25
@jacklee-code thank you, @dstampher does it work for you now?

[2021-10-05 11:51] jacklee-code commented on #25
@kkarahainko I would like to know is there any way to improve the speed of the object detection. Since the latency is quite obvious. the fps is about 3~5. However, I got a quite high speed in detect.py. I already Microsoft.ML.OnnxRuntime.Gpu. Is there any setup in order to enable the GPU?

[2021-10-05 12:00] jacklee-code commented on #25
Since the game still runs smoothly, So I guess the application is not inferring at maximum speed?

[2021-10-05 12:13] kkarahainko commented on #25
@jacklee-code I'm getting quite the same results in Python and C# on CPU:

https://i.imgur.com/Imvn7ys.png

https://i.imgur.com/uIOTZeg.png

to run it with GPU acceleration you need CUDA to be installed and SessionOptions passed to YoloScorer constructor.

[2021-10-05 12:38] jacklee-code commented on #25
thanks, I will try with the following code
`SessionOptions option = SessionOptions.MakeSessionOptionWithCudaProvider(0);`

[2021-10-05 12:47] kkarahainko commented on #25
@jacklee-code anyway GPUt will speed up inference, but pixel extraction takes ~100ms and works on CPU, I will try SkiaSharp, EmguCV for this.

[2021-10-05 12:52] jacklee-code commented on #25
Thanks, got it.

[2021-10-05 12:52] #25 closed

[2021-10-05 14:49] #23 closed

[2021-10-06 19:54] dstampher opened #26 "Prediction missing (compared to detect.py)?"
There is a prediction missing (compared to detect.py).  I am using the same model and file, but the car in the top right of the provided images is only detected by detect.py

I'd imagine this might have to do with some of the default values of the YoloCocoP5Model class?

detect.py output

![result-detect-py](https://user-images.githubusercontent.com/12793890/136273361-a57467f0-ff5b-4028-8053-bf6a5

[2021-10-07 03:55] kkarahainko commented on #26
@dstampher can you pls provide detect.py scores of not predicted objects (top right car etc)?

[2021-10-07 04:00] kkarahainko commented on #26
@dstampher you may "play" with MulConfidence and Confidence params in C# class, make them lower I suppose.

[2021-10-07 04:00] dstampher commented on #26
@kkarahainko

Hi the detect.py score for the relevant object:

2 0.87 0.155 0.0533333 0.0433333 0.301406

[2021-10-07 04:08] kkarahainko commented on #26
@dstampher they are not "up to" params, they are "from", so scores less than will be ignored. For example you have 0.155, 0.05, 0.04.

[2021-10-07 04:09] dstampher commented on #26
@kkarahainko Yeah those are bounding box coordinates, and the length and width (normalized).  I probably could have excluded those, but its the raw output for the prediction from detect.py so I included them.

[2021-10-07 04:15] kkarahainko commented on #26
@dstampher can you drop test image here? i'll check in next few hours.

[2021-10-07 04:18] dstampher commented on #26
@kkarahainko
![3a3fddc5-2352-11ec-b734-d8cb8a5e9188](https://user-images.githubusercontent.com/12793890/136319607-1255c5cb-e160-43b3-824f-9be87ddf26e0.jpg)

[2021-10-07 19:50] dstampher commented on #26
@kkarahainko Great work.  You improved the confidence of that car from 0.22 to 0.32.  Had a feeling it had to do with resizing that was going on behind the scenes with detect.py, when I tried resizing with var resized = new Bitmap(img, 640, 640) I lost all predictions with this repo, because I learned that you lose a ton of quality using that simple method and it screws with inference.  Learning a

[2021-10-07 19:50] #26 closed

[2021-10-08 08:57] alijundi opened #27 "Using SAHI with yolov5 in large image slicing"
Hi @kkarahainko I think it would be very useful and awesome if we can port the SAHI library https://github.com/obss/sahi to do image slicing for large images before detection which will make the this library much more useful.

Do you think or have an idea where we can use similar functionality in this library here.

I do appreciate any input you can provide.

Thanks.

[2021-10-09 08:45] alijundi commented on #27
@kkarahainko Please see below two images (one is a cropped from the big one or let's say sliced):

![E-701-small](https://user-images.githubusercontent.com/4628726/136650867-d759e7c4-d397-4958-ba80-d6316d4af92c.jpg)

and the big one is:
![E-701](https://user-images.githubusercontent.com/4628726/136650887-9bc467b5-c3ec-4014-ace4-b2fe8a319cba.jpg)

Model .pt file download location:
[https://we.tl/t-

[2021-10-10 14:39] dhunjoshi opened #28 "Onnx model less accurate"
Hello I have trained a custom model and export to onnx. Object could not detected and sometime detect with wrong class.

[2021-10-10 15:08] kkarahainko commented on #28
@dhunjoshi hi, can you pls provide onnx file and test image?

[2021-10-11 13:05] orielswisa opened #29 "Using GPU"
Hey 👋🏽
I uninstalled onnxruntime and install onnxruntime.gpu but the program still running on cpu.
Can you tell me what I need to do to run on gpu?

[2021-10-11 13:19] kkarahainko commented on #28
@dhunjoshi CUDA should be installed and SessionOptions should be passed in scorer consturctor, something like this `new YoloScorer<YoloCocoP5Model>("Assets/Weights/yolov5s.onnx", SessionOptions.MakeSessionOptionWithCudaProvider(0));`

[2021-10-12 02:25] dhunjoshi commented on #28
![gtx1660ti](https://user-images.githubusercontent.com/16029139/136880613-ec6ab0de-1c7b-4cbd-9b27-65e32e2d191b.jpg)

[2021-10-12 02:26] dhunjoshi commented on #28
@kkarahainko i am using gtx1660ti. i request if you can add installation process for gpu.

[2021-10-13 07:13] dstampher commented on #28
@dhunjoshi It seems the issue has changed from model accuracy to inference speed, maybe close this issue and open a new one.  Perhaps someone can implement it because it sounds like it would be useful. I am still learning ML.Net (and ML in general) so I wouldn't be suited.

[2021-10-13 09:12] PIjarihd opened #30 "result.jpg not generated in Assets folder"
I cloned the repo and build it. The build is successful however the `result. jpg` image is not generated in `Assets` folder.
In the original repo,  there is red cross sign in the Abstract. The picture is attached below.
![image](https://user-images.githubusercontent.com/90297273/137103376-0ad594a0-0492-4281-bfdb-23eeccddc52e.png)
When I copy the Abstract folder and try to build then there are so m

[2021-10-14 07:42] alijundi commented on #27
@kkarahainko while I check what you have said above now I am attempting to use a large Yolo Model (yolov5l). When exported to ONNX it does not detect anything as it was before. I am sure there some parameters that need to be changed in the MODEL file in c#. Can you please point me on how to do that.

Thanks.

[2021-10-14 08:12] kkarahainko commented on #27
@alijundi nop, it should work as yolov5s, the same model config.

[2021-10-14 08:32] #30 closed, assigned to nobody

[2021-10-14 08:49] alijundi commented on #27
@kkarahainko Thank you. it is working as yolov5s -- it seems that I copied the wrong file!

I will also try P6 models once I complete a good training on this model

[2021-10-14 17:28] erb13020 opened #31 "How do I deal with different image sizes?"
I'm using this to perform inference on onnx weights trained from the PyTorch implementation of Yolov5. The model I used to train it was Yolov5x6. When I was training, I set the image size to be 1280.

I'm assuming the default image size for this implementation is 640. How would I go about performing inference on a model that was trained on 1280x1280 images? Do I have to re scale my images to 1280x

[2021-10-14 22:05] #31 closed, assigned to nobody

[2021-10-15 00:02] erb13020 opened #32 "Why am I not getting any results with my custom trained Yolov5x6 model?"
I trained a custom model using Yolov5x6 with the PyTorch implementation to detect 1 custom class (named 'request'). Although I am able to get results when performing inference with PyTorch, I'm unable to get any results with this implementation and my ONNX weights.

**Training Command (PyTorch)**

`python train.py --data labelbox/labelbox.yaml --cfg models/hub/yolov5x6.yaml --weights yolov5x6.pt -

[2021-10-15 11:52] erb13020 commented on #32
**CustomModel.cs**

[code]

[2021-10-18 16:51] kkarahainko commented on #27
@alijundi I've tested on 8k images with P5-P6 large models and it works fine with far/small objects, maybe I'll return to this later.

[2021-10-18 16:52] #27 closed, assigned to nobody

[2021-10-18 16:53] kkarahainko commented on #32
@erb13020 did you make it work? )

[2021-10-18 17:00] kkarahainko commented on #27
@alijundi I still can't find a solution how to resolve such cases https://i.imgur.com/UzdkK13.jpeg, 3 parts are detected as person, 4th path is not detected for example etc... so I cant provide any stable solution for now.

[2021-10-18 17:16] erb13020 commented on #32
@kkarahainko Thank you, I tried exporting it with `python export.py --weights best.pt --include onnx --img 1280 --batch 1` and I also updated the anchor weights, since I used different anchors than the default model.

Unfortunately, this didn't return any results on multiple documents.

Here is the new C# model config class

[code]

Here's a screenshot of the Yolo training, if that helps.

![image

[2021-10-18 17:35] kkarahainko commented on #32
@erb13020 can you try to change Dimensions value to 6?

[2021-10-18 17:45] erb13020 commented on #32
@kkarahainko Thank you, it worked with correcting the anchors and changing the dimensions to 6!

I updated the title to make this easier to find for anyone else with a similar issue.

[2021-10-18 17:45] #32 closed, assigned to nobody

[2021-10-23 10:21] fpalsson opened #33 "Cannot make custom model work"
I have trained a model based on yolov5s6 and exported to onnx. Detection works in detect.py, but I'm not able to get predictions in yolov5-net. I guess I have implemented the custom model incorrectly. Honestly I don't know where to find the correct values to use (have looked in netron, but to no avail).

Linkning the trained model, implementation below. Hope you can give feedback on how to make th

[2021-10-23 11:00] fpalsson opened #34 "Feature suggestion: Simplify custom model usage"
I do not know if this is possible, but I will give it a shot.

When using custom models in detect.py, there is no need to specify all the details that need to go into an overridden Yolov5Net.Scorer.Models.Abstract.YoloModel. The inference works without the details and that leads me to thnk that it is possible to find all information needed from the model and/or information about image dimesion.

W

[2021-10-23 12:59] dhunjoshi commented on #33
private class YoloSafetyModel : Yolov5Net.Scorer.Models.Abstract.YoloModel
        {
            public YoloSafetyModel()
            {

            }

            public override int Width { get; set; } = 640;
            public override int Height { get; set; } = 640;
            public override int Depth { get; set; } = 3;

            **public override int Dimensions { get; set; } = 8;**

[2021-10-23 13:03] kkarahainko commented on #33
@fpalsson if you have only 3 classes, change Dimensions to 8, instead of 85.

[2021-10-23 14:27] fpalsson commented on #33
Works. You are heros! Thanks!

[2021-10-23 14:28] fpalsson commented on #33
Any thoughts about my suggestion to add some info about how to implement the custom model? As a beginner there are so many things to learn...

[2021-10-23 15:18] fpalsson commented on #33
I was too quick to say it works. It seems only 2 out of 3 classes are detected. Any clue what could be wrong?

[2021-10-23 17:48] kkarahainko commented on #33
@fpalsson can you provide a test image?

[2021-10-24 08:46] fpalsson commented on #33
https://drive.google.com/file/d/1zeVGRX759usnGRPfwcdj9wyzlu2aPdCr/view?usp=sharing

Thanks in advance.

[2021-10-24 10:24] kkarahainko commented on #33
![result](https://user-images.githubusercontent.com/1279307/138589862-aa6f6af8-82e6-4ace-a019-ad76ac3ef9dc.jpg)

[2021-10-24 10:31] kkarahainko commented on #33
@fpalsson looks like everything works fine.

[code]

and usage

[code]

[2021-10-24 13:49] fpalsson commented on #33
Thanks!

My anchors and strides were different as well. Using your model worked fine.

I notice that you have ints for anchors and strides. In my package those are floats. How come that differs?

Followup question: how do you calculate dimensions based on the number of classes?

I guess the order of the classes in the labels list is the mapping to to the classes? Is there any way to map the labels

[2021-10-24 14:26] kkarahainko commented on #33
1. Clone the latest repo version to use ints, or you can still use floats.
2. 5 + number of classes.
3. Labels, classes should go as they go while training, nothing to do here.

[2021-10-24 14:26] #33 closed, assigned to nobody

[2021-10-24 14:32] kkarahainko commented on #34
@fpalsson python version is also stores model configs in files, look at models folder, anyway I'll think about your request.

[2021-10-24 14:32] #34 closed, assigned to nobody

[2021-10-24 17:10] AndersEben commented on #29
@kkarahainko i tried to get it to work witch CUDA 11.5 but get the error message

### "[ErrorCode:RuntimeException] D:\a\_work\1\s\include\onnxruntime\core/common/logging/logging.h:313 onnxruntime::logging::LoggingManager::DefaultLogger Attempt to use DefaultLogger but none has been registered. ###

It's not an actual yolov5-net error but maybe you can help me.

[2021-10-24 17:13] kkarahainko commented on #29
@AndersEben did you install cudnn?

[2021-10-24 17:23] AndersEben commented on #29
@kkarahainko Thanks thats fix the problem.

[2021-10-24 18:18] fpalsson commented on #33
Again, thanks!

[2021-10-24 18:34] kkarahainko commented on #33
@fpalsson thanks for input, I'll publish a new version of NuGet package, with all recent changes later.

[2021-10-25 04:25] orielswisa commented on #29
@AndersEben I have the same problem.
Which version of cudnn you installed?

[2021-10-25 11:30] AndersEben commented on #29
@orielswisa I use cuDNN v8.2.1 (June 7th, 2021), for CUDA 11.x
but for now there is no time improvement instead of using cpu for me. don't know why.
by image size 1280 x 1280 it needs 900ms

[2021-10-25 11:34] kkarahainko commented on #29
@AndersEben first run is slow, next predictions will go much faster, I've got 30+ fps on my rtx 3060.

[2021-10-25 11:42] AndersEben commented on #29
@kkarahainko yeah first run is by 1300ms and next predictions will run by ~800-950 ms. cpu runs nearly the same for me. dont know if this caused by my gtx1080 or my poorly trained test model.

[2021-10-25 11:46] kkarahainko commented on #29
@AndersEben hmm, i have around 100ms on cpu (Ryzen 9), and 30ms on GPU.

[2021-10-25 12:24] AndersEben commented on #29
@kkarahainko
Ryzen7 1700x
Rtx 1080

.NET Framework 4.7.2
Yolov5Net -Version 1.0.7
Microsoft.ML.OnnxRuntime.Gpu -Version 1.9.0

CustomModel:

        public override int Width { get; set; } = 1280;
        public override int Height { get; set; } = 1280;
        public override int Depth { get; set; } = 3;
        public override int Dimensions { get; set; } = 7;
        public override float[] Str

[2021-10-26 02:56] AlexSim commented on #29
I think this GPU issue is not solved....

there is no differences on performance at running between CPU and GPU. Very strange~~~

// GPU
 _scorer = new YoloScorer<YoloCocoP5Model>(@"weights\yolov5s.onnx", SessionOptions.MakeSessionOptionWithCudaProvider(deviceId));

// CPU
_scorer = new YoloScorer<YoloCocoP5Model>(@"weights\yolov5s.onnx");

Do you have any idea?

Thank  U

[2021-10-26 10:26] kkarahainko commented on #29
@AlexSim I don't think it's the issue of yolov5-net, I have CUDA 11.4 installed on RTX 3060 that's recommended CUDA version for this hardware, everything work as expected. Please double check compatibility, then run this simple benchmark:

[code]

My scores on GPU:

Max FPS: 38
Avg FPS: 30.62
Min FPS: 0

And on CPU (Ryzen 9, 16 threads):

Max FPS: 22
Avg FPS: 18.76
Min FPS: 9

[2021-10-26 14:40] AndersEben commented on #29
I also think its not an yolov5-net issue.

Ryzen7 1700x
Rtx 1080

@kkarahainko  i run your code these are my results:

CUDA 11.5 , cuDNN v8.2.1 (June 7th, 2021), for CUDA 11.x

GPU
Max FPS: 14
Avg FPS: 9,09
Min FPS: 0

CPU
Max FPS: 12
Avg FPS: 9,25
Min FPS: 3

CUDA 11.3 , cuDNN v8.2.1 (June 7th, 2021), for CUDA 11.x

GPU
Max FPS: 15
Avg FPS: 12,08
Min FPS: 1

CPU
Max FPS: 10
Avg FPS: 9,1
Min FPS:

[2021-10-26 19:03] kkarahainko commented on #29
@AndersEben can you try latest Nuget pkg or clone latest repo, some optimizations were added few days ago, maybe you use older version, have no other ideas )

[2021-10-26 19:04] kkarahainko commented on #29
@AndersEben Debug and Release builds show different performance, keep in mind.

[2021-10-26 19:42] AndersEben commented on #29
@kkarahainko
Yes you are right in release build results are :

CUDA 11.3 , cuDNN v8.2.1 (June 7th, 2021), for CUDA 11.x

CPU
Max FPS: 20
Avg FPS: 16,4
Min FPS: 9

GPU
Max FPS: 32
Avg FPS: 23,415
Min FPS: 1

I will rebuild my other project and try out and show results here first test was slow as well by size 1280

[2021-10-27 14:13] #29 closed, assigned to nobody

[2021-10-29 05:37] MrXin95 opened #35 "The Speed is too slow."
Now I want to deploy the Yolo.onnx model in the c# application. I used your code to test. It takes 30 seconds to predict 100 images using yolov5s.onnx (my CPU is i5-1135g7). On the same computer, it uses the same model and onnxruntime acceleration. It takes only 6 seconds in Python language to predict 100 images? What caused the loss of speed? How to optimize？

[2021-10-29 07:43] kkarahainko commented on #35
Version of yolov5-net package? Debug or Release build?

[2021-10-29 08:19] kkarahainko commented on #35
@MrXin95 try out the latest version of Nuget package, build this CPU bench in Release:

[code]

Run and provide your stats here.

[2021-10-29 08:46] kkarahainko commented on #35
@MrXin95 pls also provide test image.

[2021-10-29 08:51] MrXin95 commented on #35
It seems that the version I installed is 1.0.7, but I can't update to 1.0.9. I don't know why
![image](https://user-images.githubusercontent.com/43596264/139405930-afcdf753-4a8c-4fc4-a9ed-9088aa3320f8.png)

![image](https://user-images.githubusercontent.com/43596264/139402929-15198f98-5009-4f78-a302-f8ab5e085c5d.png)
The FPS shown here seems to be faster than I tested. Is it slow for me to travers

[2021-10-29 08:55] kkarahainko commented on #35
@MrXin95 why can't you update to 1.0.9. what error message?

[2021-10-29 09:33] kkarahainko commented on #35
@MrXin95 can you provide test image, python benchmark code as well, and python output to be sure it doesnt use GPU.

[2021-10-29 16:53] AndersEben commented on #35
@MrXin95
You have to define the YoloScorer outside the loop else it will load for every File new, what will cause the low speed

            Stopwatch sw = new Stopwatch();
            sw.Start();

            string img_path = "Assets/Imgs";
            DirectoryInfo root = new DirectoryInfo(img_path);

            // ----
            using var scorer = new YoloScorer<YoloCocoP5Model>("Assets/Wei

[2021-10-29 17:50] kkarahainko commented on #35
@AndersEben ah, you're right, didn't notice that.

[2021-10-30 18:03] #35 closed, assigned to nobody

[2021-10-31 11:04] fpalsson opened #36 "Unreliable predictions"
When doing further tests, I realize that quite often I get strange results.

I have exported a PyTorch model to ONNX using Yolov5 export.py.

I have compared inference using:
* detect.py with the original pytorch model
* detect.py with the pytorch model exported to onnx
* running yolov5net with a custom model using the exported onnx

The scores are varying sligtly between the .pt and .onnx when ru

[2021-10-31 11:21] kkarahainko commented on #36
@fpalsson change overlap to 0.50 for example.

[2021-10-31 12:14] fpalsson commented on #36
As simple as that. Thanks!

So Overlap filters out everything with a larger overlap than set (intersection area divided by union area). Correct? This means the west will filter out the person. Is there any rules what object stays, and what gets filtered out? Based on order of classes in the model?

MulConfidence, then? Would you care to elaborate on that a little?

[2021-10-31 13:37] kkarahainko commented on #36
@fpalsson nms now super simple, class agnostic - object with higer score wins

[code]

[2021-10-31 13:41] kkarahainko commented on #36
@fpalsson if you need nms filter only the same class objects, its possible to add another condition like

[code]

but you may get redundant predictions - the same object multiple predictions, classes.

[2021-11-01 08:59] luopinluobo opened #37 "Hi, Can it be configured to detect only one of 80 classes?"
![image](https://user-images.githubusercontent.com/42291045/139646560-5bfccfb7-cb37-445e-a41d-0615a47016fe.png)

I have a few questions:
1. I want to use the original [yolov5n. Onnx] and configure it to detect. For example, in the class of [person], I want to filter during detection, not after the results come out. Can I do this?
2. Will this increase our detection speed?
3. If we can't do this, c

[2021-11-01 10:05] kkarahainko commented on #37
@luopinluobo you have to train a new model if you need only 1 class, you may change Dimensions, Labels but it won't work, beacuse output tensor will have size of 85 anyway and will contain predictions for all trained classes.

[2021-11-01 10:06] #36 closed, assigned to nobody

[2021-11-01 10:10] luopinluobo commented on #37
@kkarahainko
Thank you very much for your reply. It seems that we can't directly use some trained models and use their subclasses.
If the new model has only one class, will the prediction speed be significantly improved?

[2021-11-01 10:19] kkarahainko commented on #37
@luopinluobo it depends on what you're going to achieve, number of classes will not significantly improve the detection speed, pay attention to GPU acceleration, Im getting 30+ fps on laptop with rtx 3060, it's enough for tasks like video, stream processing etc.

[2021-11-01 10:24] kkarahainko commented on #37
@luopinluobo im not sure why can't you use pre-trained models )

`var persons = predictions.Where(x => x.Label.Name == "person");` persons will containt only "person" predictions

[2021-11-01 10:40] luopinluobo commented on #37
@kkarahainko
I just want to test whether there is a big improvement. Now I have also obtained 30 + FPs in gtx1080ti, but the target machine is gtx1050. I haven't tested whether it can be met, so I want to find out whether there is any way to improve the speed. If the speed meets my requirements. I will use your recommendation and filter the results

[2021-11-01 10:43] luopinluobo commented on #37
@kkarahainko
![image](https://user-images.githubusercontent.com/42291045/139659461-76d66d93-c5e3-4981-804a-d40023fa87b6.png)
![image](https://user-images.githubusercontent.com/42291045/139659505-01693f45-adb8-40db-ac4f-978f599bd3d0.png)
![image](https://user-images.githubusercontent.com/42291045/139659527-16e1fbf8-ea34-4788-91a4-61eb69c9566a.png)
It seems that [Python] can be used, but I don't kno

[2021-11-01 11:51] kkarahainko commented on #37
@luopinluobo technically it's possible, copy whole tensor to smaller one, like this

[code]

but I didn't see any difference + C# has no Tensor range and GPU acceleration operations, so I've decided not to implement this type of filtering for now, see no sense and didn't find elegant way.

[2021-11-01 13:27] #37 closed, assigned to nobody

[2021-11-01 21:44] fpalsson commented on #36
@kkarahainko: Thanks for these snippets. I guess you mean that if I would set the overlap to 1.0 and thereby disable the filtering in yolov5net I could implement these algoritms myself. Or did you mean something else?

[2021-11-01 22:05] fpalsson opened #38 "Feature suggestion: Pass YoloModel as Scorer constructor argument instead of <T>"
YoloScorer takes the model as `<T>`. This means that the model is very static. The model is created with

`Activator.CreateInstance<T>() `

in the constructor of YoloScorer.

This means the model object is not accessible for the user. To be able to set field values for lets say Overlap, Confidence and MulConfidence one would have to implement static methods in the model for setting these values. I

[2021-11-02 07:47] kkarahainko commented on #36
@fpalsson the same overlap, no need to set it to 1.0, but only the same class, so person wont be filtered by bus etc, or helmet in your case. If you'll call detect.py with --agnostic param then person will be filtered too, as well as in yolov5net

[2021-11-02 07:56] MrXin95 opened #39 "Can not work with Gray images"
When I tested, I found that the input gray image（8bit） can not work. Is it necessary to add the code that converts the gray image(8bit) into RGB image(24bit)?
![SharedScreenshot](https://user-images.githubusercontent.com/43596264/139807265-c982b18a-7a17-48ea-81b9-2eaeaa05fb67.jpg)

[2021-11-02 08:23] fpalsson commented on #36
@kkarahainko I might be stupid but need to ask a followup question:

How do I in yolv5net replicate the behaviour of detect.py when NOT using --agnostic param?

[2021-11-02 09:17] kkarahainko commented on #36
@fpalsson no worries, look at the Supress method in YoloScorer.cs, you will find:

[code]
** condition will add class-awareness, if you need this asap you may clone and add this changes yourself, this is open-source project, maybe I will add new property to model config for this later.

[2021-11-02 09:20] kkarahainko commented on #39
@MrXin95 can you provide test image? for now it works with rgb images, maybe I'll add auto-convertion.

[2021-11-02 10:00] fpalsson commented on #36
Aha, you were referencing a change in the repo. Didn't get that. Thanks.

[2021-11-02 10:27] fpalsson commented on #38
Would you like a MR?

It would be a breaking change. It would be possible to create an alternative YoloScorer, perhaps called YoloScorerDynamic or something like that.

[2021-11-02 10:53] kkarahainko commented on #38
@fpalsson only Confidence, MulConfidence, Overlap may be dynamic, all other params can't be changed after Scorer (InferenceSession) created, so maybe move this params from model class to the Predict method, I'll think about.

[2021-11-02 11:03] fpalsson commented on #38
Ok. Thanks for considering that.

Still I think it would be wise to not have the model beeing passed as a `<T>` to the scorer since that makes it hard to reference the Scorer. If I want to create a solution where the user is able to use YoloCocoP5Model, YoloCocoP6Model or any custom model you have to reference the scorer as object, instead of YoloScorer<T>. If the scorer type would not be dependen

[2021-11-03 00:40] MrXin95 commented on #39
![0](https://user-images.githubusercontent.com/43596264/139969513-38ed13fc-7443-42a6-9b38-91fa3a73a94d.jpg)

![0](https://user-images.githubusercontent.com/43596264/139970299-e079a4c4-1ac1-417a-aece-42844bb789cb.jpg)
![image](https://user-images.githubusercontent.com/43596264/139969986-c4e1b58b-e792-454a-823a-e447cc17077f.png)

I've tested that any image with a bit depth of 8 doesn't work. Because

[2021-11-03 03:49] futureflsl opened #40 "can this projetc be user for yolov5 6.0 directly?"
can this projetc be user for yolov5 6.0 directly?

[2021-11-03 05:58] MrXin95 commented on #39
I use OpenCvSharp4.Windows to solve it.
[code]
However, I found that the prediction speed of the model almost did not change, but the speed of drawing the prediction box was a few seconds slow. At first, I thought that the incoming original image was in image format, and the image I converted was in bitmap format, but after I converted bitmap to image format, the drawing speed did not increase. Wh

[2021-11-03 09:14] kkarahainko commented on #40
@futureflsl yes, yolov5 v6 tested and works as expected.

[2021-11-03 09:14] #40 closed

[2021-11-03 10:04] kkarahainko commented on #39
@MrXin95 thanks, model trained on 8bit images? (as I know its not supported in yolov5 as well)

[2021-11-04 00:50] MrXin95 commented on #39
Yes, I trained model with 8-bit images, because in my project, the image provided by the camera is like this. The images in the model are indeed three channels, but yolov5 can automatically convert 8-bit images into 24bit before training. You can have a try. We can train the model with 8bit images, and the test is also no problem in python with them.

[2021-11-09 01:56] MrXin95 opened #41 "How to use it in other program"
Hello, I'm not familiar with c#. In your project, I can change parameters to test my own model and data. But how do I use your code in my own projects? I want to use your code in the WinForm program. I add the class library "Yolov5Net.Scorer" directly to the project in VS2019, then adjust the parameters and call it with the main program, but no matter how I adjust it, it always report the followin

[2021-11-09 02:03] MrXin95 commented on #41
Even in your project, when I remove the class library "yolov5net. Scorer" in vs2019 and then add it from folder again, it will report the same error; Maybe for you it is a sample question, thanks a lot!

[2021-11-09 06:16] #41 closed, assigned to nobody

[2021-11-21 06:35] Yang-Code984 opened #42 "How to use my model"
Hello, I'm a newcomer,After the model I trained in pytorch is converted to. Onnx, it can't run smoothly.How can I run my own model.

![1](https://user-images.githubusercontent.com/65146002/142752294-8fd56b80-3dd5-4209-b99b-4f8c295f54db.png)
![2](https://user-images.githubusercontent.com/65146002/142752297-e832c1aa-6711-4393-9695-cfd35afe281b.png)

                        float xMin = ((output[0, i

[2021-12-09 10:13] SUNbrightness commented on #36
Newbie thanks
//5 + num_classes This note helped me solve my puzzle

[2021-12-10 17:43] Desync3 opened #43 "Using GPU"
How can i use the gpu instead of cpu?

[2021-12-13 11:16] niyazidageek opened #44 "This won't work on Mac OS"
I don't really understand what the problem is, but it doesn't work on **Mac OS**. I have the next error: **"Fontconfig error: Cannot load default config file".** I have tried all the methods possible in order to tackle this problem. Nothing helps me. Internet has no info about it. Please, consider my issue!

[2021-12-13 11:24] kkarahainko commented on #44
@niyazidageek can you provide the full message, stack trace?

[2021-12-13 12:49] niyazidageek commented on #44
@kkarahainko This is what i get. As you can see there is an output from the console on the right, and the exception window in the center. Do you want me to share the information contained in this window as well? (It is the clone of your repo)

<img width="1440" alt="Screen Shot 2021-12-13 at 16 47 40" src="https://user-images.githubusercontent.com/82367001/145815429-48b62ca5-6c6e-407b-9436-0a24b5f

[2021-12-14 21:15] niyazidageek commented on #44
@kkarahainko I have experimented with the code and finally found the problem. Onnxruntime doesn't create an inference session for some uknown reason. This code works perfectly on Windows, but i don't know what is actually wrong with onnx working on Mac OS. Whenever the code reaches the line where an instace of inference session is being created, my program exits without any exceptions. Code doesn'

[2022-01-10 08:19] kankanjiuzou123 commented on #39
兄弟，你用自己的模型测试图片，一张图大概多长时间？

[2022-01-10 08:35] MrXin95 commented on #39
纯推理二十几毫秒，加上前后处理一百多毫秒

[2022-01-12 15:52] MagnusGabell commented on #43
I would like to know the same. Updated the nuget package to OnnxRuntime.GPU
According to https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.transforms.onnx.onnxscoringestimator?view=ml-dotnet for Cuda support you need to set gpuDeviceId when creating the estimator using ApplyOnnxModel. But where is that?

[2022-01-14 16:33] jakehaddock opened #45 "Can't get any predictions"
First of all, thanks for all the effort you put into this project. I have hit a snag in my development and can't get my project to predict my model. My issue is similar to the following thread, which I have tried the suggestions without success.

https://github.com/mentalstack/yolov5-net/issues/15

I would appreciate any guidance you could give. I "think" the following link contains the needed fil

[2022-01-15 18:54] jakehaddock commented on #45
I modified custom model to public override int Dimensions { get; set; } = 6; as recommended by another thread and it works. Not sure why but it is good!

[2022-01-15 18:54] #45 closed, assigned to nobody

[2022-01-16 14:58] alijundi opened #46 "Yolov5s model trained at high resolution exception"
I have a model (yolov5s) trained at image size 2560x2560 I am trying to use the code after I switched the width and height to match. I get the below exception:

`[ErrorCode:InvalidArgument] Got invalid dimensions for input: images for the following indices
 index: 2 Got: 2560 Expected: 640
 index: 3 Got: 2560 Expected: 640
 Please fix either the inputs or the model.`

@kkarahainko any ideas why th

[2022-01-17 08:05] alijundi commented on #46
It seems that I exported the model at 640 instead of 2560 and that is why the exception is occuring.

Sorry for the inconvienience.

[2022-01-17 08:05] #46 closed, assigned to nobody

[2022-02-02 19:03] gillonba opened #47 "Performance suggestion"
This is a great project, but unfortunately performance is pretty awful compared to running the same models in Python.  It takes so long to prepare the image and to parse the results that I don't think it really even matters if you run the model on the GPU or not.

I think one thing that would improve things quite a bit would be to witch from Parallel to standard for loops on lines 102 and 106 of Y

[2022-02-11 14:22] MasIgor opened #48 "not detecting anything"
Hello, I am completely new on this topic so please excuse if I did something wrong.

I trained my network in colab, and got my best.pt file. The i use this to convert it to a onnx file:

`
!python /content/yolov5/export.py --weights /content/yolov5/runs/train/exp/weights/best.pt --data /content/datasets/SL-CratesBig-2/data.yaml --include onnx
`

I took one of the test images taht was proeprly reco

[2022-02-14 22:05] gillonba commented on #48
A) Did you run predict.py on the image with your ONNX model?

B) Did you change the category list in your model and if so did you change it in your scorer as well?

[2022-02-15 08:40] MasIgor commented on #48
thank you for your answer gillonba, please bear with me, as i am only partially understanding your questions.

A) there is no predict.py in my yolo v5 folder. if you mean the detect.py then yes, i did and it works. here is a screenshot:
![image](https://user-images.githubusercontent.com/67956327/154024318-8d374292-02ff-4fa5-bccf-0a81d9d280ca.png)

B) How do I do that? how can the category list be

[2022-02-15 09:12] MasIgor commented on #48
I uploaded the c#.net project to my ftp, with the onnx model, one test image and the data.yaml file.

www.igormasin.it/fileuploads/test.zip

[2022-02-15 16:57] gillonba commented on #48
A) If I remember correctly, detect.py should output an image with detections drawn onto it.  Do the detections appear to be correct?

B) If you are using a custom dataset with labels different than the default COCO dataset, you will have to update the Labels list in YoloCocoP5Model.cs to match the labels you trained with

[2022-02-15 17:13] MasIgor commented on #48
A) yep, it is detected properly and drawn on the image.

B) thank you, I'm not able to find this file in my project. any idea of where it is located?

[2022-02-15 18:38] MasIgor commented on #48
I managed to solve it by crating a new class, copying in the existing models found online, and editing them. thank you very much for your help gillonba!

[2022-02-15 18:38] #48 closed, assigned to nobody

[2022-02-16 23:58] cdvalera opened #49 "Is it possible to use the Intel Neural Compute Stick?"
Dear Sir
Is it possible to use the Intel Neural Compute Stick 2 to speed up camera detection as an alternative to the GPU?
If possible, what would be the implementation. I currently have one of these devices but I only find information on how to use it in python and not in yolov.net

[2022-02-25 15:49] cdvalera opened #50 "detect object only within a ROI"
How to detect object only within a ROI?

[2022-02-26 02:26] ydslash2 commented on #43
scorer = new YoloScorer<YoloCocoP5Model>("Assets/Weights/yolov5n.onnx" ,SessionOptions.MakeSessionOptionWithCudaProvider());

I try this way,but failed,

error msg =Attempt to use DefaultLogger but none has been registered.

has anyone success use GPU?

[2022-02-26 23:17] mgabell commented on #43
Check this thread. Might solve it. You need to register de logger before make session. I have code for you. Fix on Monday latest, else give me a shout

https://github.com/microsoft/onnxruntime/issues/10336

[2022-02-28 03:26] ydslash2 commented on #43
do u success with cuda?how may fps? i find python yolov5 gpu cost losts memory than cpu.

 does OnnxRuntime.GPU use memory a lot?

[2022-02-28 07:16] mgabell commented on #43
Yes I can run GPU support with Cuda. The FPS has not been evaluated fully but that depends on
size of the Yolo model. You have small, medium large. Also the size of the input image.
you also need to have a GPU big enough. I have only a Quadro M1200 so not so strong.

The code I had did not have multi-threading so I only used maybe 30% of the GPU. So a multithreaded version is needed.

You need to

[2022-03-01 21:29] gillonba commented on #50
Region Of Interest?  You can crop the image before passing it in, or filter out results that fall outside your parameters.  I don't see why the API should be expected to handle such a specific use case

[2022-03-04 10:51] mgabell commented on #43
Did you manage to get it working?

[2022-03-18 16:50] gaohuijue commented on #47
I did some optimizations. You can see [Yolov5Net-Faster](https://gitee.com/ghj2qs_admin/Yolov5Net-Faster).I use OpenCl and OpenCv to boost the computations.I'm a new hand on OpenCl and I'm not sure that the OpenCl code is the best way.(Sorry,My English is poor)
[Where is faster](https://gitee.com/ghj2qs_admin/Yolov5Net-Faster#what-is-the-difference-where-is-fast)

[2022-03-28 00:56] ydslash2 opened #51 ".pt works good but .onnx works not so good"
i test img using python and .pt , 95% correct .

but when i transfer .pt to .onnx ，using .net , 45% correct .

is there any thing missing when transfer?

or .net wapping something wrong？

[2022-03-28 13:03] blackcement opened #52 "Requirements"
Hello, what are the requirements for the project? What Visual Studio and version of the .NET platform? What for in the code "using"?
![image](https://user-images.githubusercontent.com/61663301/160403626-4339d4dc-c5e4-4b82-8014-68e557b762e2.png)

[2022-03-29 01:22] ydslash2 commented on #51
ok，i build 80 labels net , it works well .

[2022-04-01 02:14] ydslash2 commented on #47
高慧觉？感觉像个高僧的名字，亲你的项目很好，处理的很快，可我不知道怎么调整label的数量，能教教我么，我现在只能训练80label的.onnx用，没法添加lable

[2022-04-01 13:17] GeneralSyb opened #53 "Converting from .pt to .onnx not working correctly."
I've been trying to get my own models working in the .onnx type, but when it is exported to .onnx it doesn't find anything in an image. The results in pytorch are pretty good, but even converting models like coco don't work.

I saw this issue: https://github.com/mentalstack/yolov5-net/issues/51, but he seems to have fixed it by adding more image or something?

[2022-04-04 02:07] gaohuijue commented on #47
我猜你可能是这里的问题。
![image](https://user-images.githubusercontent.com/11068320/161462430-2b0d3f34-8d8e-401d-bb97-dfb2ccbc22e1.png)

[2022-04-04 02:08] gaohuijue commented on #47
我猜你可能是这里的问题
![image](https://user-images.githubusercontent.com/11068320/161462520-b721d1b6-1dd5-4f97-94ba-0c64287d4d0c.png)

[2022-04-09 02:15] ydslash2 commented on #47
改了上面两个地方，没有用啊亲，还是报错，你有没有qq加个吧？378234608

[2022-04-10 03:46] hygxy opened #54 "How to use this repo"
Hi, first of all thanks for sharing!

I build this repo from source in VS 2022 and overwrite the original image in Yolov5Net.App/Assets/test.jpg with a custom image(on which the python version works). I then click the Start without Debugging menu on VS to run the application. The console output is
[code]
But no result image is saved. I've also tried run the "Yolov5Net.App.exe" directly in console,

[2022-05-18 13:29] halukmy opened #55 "using on videos"
is it possible to use on videos ?

[2022-05-19 18:05] Kickjaw opened #56 "Custom model"
Hello,

I have a custom trained model that started with the yolov5m.yaml configuration. I am lost as to what changes i would need to make to the implementation of the yolomodel. I can provide what ever files anyone needs to help with this.

Thanks

[2022-05-20 12:01] masgh21 opened #57 "custom model do not detect object"
@kkarahainko

Hello I am student and trained my custom model with colab
[https://github.com/ultralytics/yolov5/wiki/Train-Custom-Data
]
(https://github.com/ultralytics/yolov5/wiki/Train-Custom-Data)

it works with detect.py
But after I convert it to onnx  , it doesn't detect anything
what Is Problem ?

![image_2022-05-20_16-08-53](https://user-images.githubusercontent.com/90691672/169521071-7a37bd

[2022-05-26 19:33] masgh21 commented on #48
@gillonba
Hello Can you help me with this problem ?
[Error](https://github.com/mentalstack/yolov5-net/issues/57)

[2022-05-27 05:11] masgh21 commented on #57
@keesschollaart81
Hello
Can you help me ?

[2022-05-27 05:42] MasIgor commented on #57
how did you convert it to onnx? are you running it still with detect.py as onnx or in a different environemnt?

[2022-05-27 06:00] masgh21 commented on #57
Hello @tanzerlana
I test it with detect.py and with .pt format and it works.
after converted it to onnx ,
it didnt detect anything .

[2022-05-27 06:20] keesschollaart81 commented on #57
This has not much to do with this repo I believe. I think you're better of creating an issue of the Yolov5 repo, right? Then I also suggest to include this commands you run for the export to onnx and (if possible) the original pt file.

[2022-05-27 06:26] masgh21 commented on #57
@tanzerlana
 @keesschollaart81
i upload my .ppt model here.
 [model](https://drive.google.com/file/d/130RnBwkFZvk5U8RTpFj_nh0ssnhK5iQN/view?usp=sharing)

[2022-05-27 06:28] keesschollaart81 commented on #57
I'm not going to look at it, I'm sorry. If you have issues with Yolov5 conversion/quality, please report at their repo. This repo only is about doing inference with a working model using .NET.

[2022-05-27 06:34] masgh21 commented on #57
I want to use it with yolov5net
and i don't know how to use it.
@keesschollaart81

[2022-05-27 06:38] keesschollaart81 commented on #57
Before you can use it with yolov5-net, the onnx version first need to work, if you have an issue with that --> https://github.com/ultralytics/yolov5/issues

When the model works with native yolov5 (python) and you have issues with the .NET inference, discuss here.

[2022-05-27 06:42] masgh21 commented on #57
@keesschollaart81
my problem is
onnx version
and it does not work , and i need help to use onnx and yolov5net .

[2022-05-27 06:47] masgh21 commented on #57
@keesschollaart81
I converted my .pt model to onnx
after that i couldn't load it and I got this Error

public override int Dimensions { get; set; } = 6;
 public override List<YoloLabel> Labels { get; set; } = new List<YoloLabel>()
        {
             new YoloLabel { Id = 1, Name = "helmet" }
        };

![image](https://user-images.githubusercontent.com/90691672/170646154-fd7fcaec-fbeb-4336-b3b

[2022-05-27 06:57] masgh21 opened #58 "System.IndexOutOfRangeException: 'Index was outside the bounds of the array.'"
Hello EveryOne
I want to test my onnx model but I git this Error

my models
[Models File](https://github.com/mentalstack/yolov5-net/issues/57)

![image](https://user-images.githubusercontent.com/90691672/170647450-b55e94e2-e82d-4f08-a316-91b902ac877f.png)

[2022-05-27 06:58] masgh21 commented on #58
public class TestModel1: YoloModel
    {
        public override int Width { get; set; } = 640;
        public override int Height { get; set; } = 640;
        public override int Depth { get; set; } = 3;

        public override int Dimensions { get; set; } = 6;

        public override int[] Strides { get; set; } = new int[] { 8, 16, 32, 64 };

        public override int[][][] Anchors { get; se

[2022-05-27 06:58] MasIgor commented on #57
verify that your onnx file is properly working. run detect.py and input the onnx file instead of the pt file. so you know that your onnx file is ok in the first place.

[2022-05-27 07:43] masgh21 commented on #57
@tanzerlana
I test it with detect.py now and it works with onnx format

![image](https://user-images.githubusercontent.com/90691672/170653722-aa333143-551e-4d19-a504-2c39a5ec68c1.png)

in visual studio i got same error
[IndexError](https://github.com/mentalstack/yolov5-net/issues/58)

[2022-05-28 13:23] masgh21 opened #59 "Improve Accuracy"
Hello
How can we improve accuracy of object detection ?

[2022-06-08 20:24] gillonba commented on #59
https://github.com/ultralytics/yolov5/wiki/Tips-for-Best-Training-Results

[2022-06-08 20:28] gillonba commented on #55
I use https://github.com/rosenbjerg/FFMpegCore to extract the frames of the video, run against each frame, and use the same library to re-assemble the video

[2022-06-10 16:05] iwaitu opened #60 "Could you upgrade it for support output segmentation ?"
just like this https://github.com/midasklr/yolov5ds

[2022-06-13 23:24] PLMDTK commented on #58
I ran into the same problem using my own training results.

[2022-06-23 02:03] tracywong117 opened #62 "my custom model.onnx work perfectly in detect.py but not in yolov5-net"
MacOS 10.15
Visual Studio for Mac 17.0.3

I have tried image and model (yolov5s.onnx) in the depository.

This is the image.
![trial](https://user-images.githubusercontent.com/25502528/175190309-0ecc8a47-480f-4726-84a9-23986ab835c5.jpg)

And, I get the result.
![result](https://user-images.githubusercontent.com/25502528/175190318-4ae4b07a-302c-4906-9193-7388e7c79c99.jpg)
So, I think I have set up

[2022-06-23 02:34] ducpm151061 commented on #62
#48

[2022-06-23 04:09] tracywong117 commented on #62
Thanks!!

<img width="1429" alt="image" src="https://user-images.githubusercontent.com/25502528/175206687-ed1d49b2-dbde-43c4-b31c-821fc1b93af0.png">
<img width="800" alt="image" src="https://user-images.githubusercontent.com/25502528/175207071-abd2bb2e-6866-4bc2-9875-2fc5610150c2.png">

I think I have inherited from YoloModel and overridden all the required properties and methods. Am I doing it co

[2022-06-23 04:37] ducpm151061 commented on #62
Dimensions=10

[2022-06-23 05:40] tracywong117 commented on #62
It works!!!! Thank you so much. ☺️
May I know what is dimension? And how it is calculated?
THANK YOU!!!

[2022-06-23 07:33] tracywong117 commented on #62
I understand now. Because the output dimension is num_class + 4 (x1, y1, x2, y2 coordinates) + 1 (confidence score).

[2022-06-23 07:33] #62 closed, assigned to nobody

[2022-06-26 20:03] halukmy commented on #55
thanks, can you share some example @gillonba on yolo5

[2022-06-27 02:37] tracywong117 opened #63 "I am wondering could I use yolov5-net to deploy yolox on c#."
Because yolox also supports ONNX runtime. But I don't know how to set the configuration of the model. Is it possible?

[2022-06-27 06:27] tracywong117 opened #65 "Enable real-time webcam object detection but very slow"
[code]

The program is modified to enable real-time webcam object detection. But this is very slow like 1 fps. I am wondering how to improve the speed. Is there other method recommended to deploy the yolov5 model in C# for webcam object detection?

[2022-06-29 05:47] sergiopinto16 opened #66 "Slow in ocrrences and fast in cycle"
I read the issue https://github.com/mentalstack/yolov5-net/issues/35

If i disable drawing results and saved images, I get excelent results if I do a cycle through all the images. (like the example in issue above)

If I run the images at a low rate the time to process the image is high in some interations.

It's a gpu problem? (I'm using an rtx2060)

[2022-07-04 01:34] zzzdddyyy commented on #58
I get this problem all the time.
But I found the cause of the problem and came up with a solution.

The key cause of the problem:
Wrong dimension set in model file.

![image](https://user-images.githubusercontent.com/32119468/177065760-bba32c2c-eb4d-4756-ad61-c083012bdef6.png)

So how do we get the dimensions right?

1st:
Open this website: [https://netron.app/](https://netron.app/)

Open your xxx

[2022-07-12 15:45] ShawkyAhmad opened #67 "Custom trained onnx does not detect objects"
Hi, i exported my custom trained model to onnx using the below command:
!python yolov5/export.py --weights /content/yolov5/runs/train/exp3/weights/best.pt --include torchscript onnx --imgsz 416 416

and tested it with the below command
!python /content/yolov5/detect.py --source /content/drive/MyDrive/yolo/StopSigns/arthur-osipyan-vLusIJAYy_Q-unsplash.jpg --weights '/content/yolov5/runs/train/exp3/

[2022-07-12 16:11] ShawkyAhmad commented on #67
I found out the solution, the dimensions variable in the yolo model class should be set to number of classes + 5, it had a value of 85 so i updated it to 6 (i have only one class)

[2022-07-12 16:11] #67 closed, assigned to nobody

[2022-07-13 02:57] tracywong117 commented on #65
Btw it is slow on macOS but it is ok on Windows.

[2022-07-13 02:57] #65 closed, assigned to nobody

[2022-07-20 09:25] AlizerUncaged commented on #43
I added `SessionOptions.MakeSessionOptionWithCudaProvider()` but the speed is still the same as the CPU, I checked task manager and GPU usage is 5% and sometimes even 0%, does this really utilize the GPU?

[2022-07-21 08:24] VladMVLX opened #68 "just close me please"
sorry about posting issue without complete understanding of subject

[2022-07-21 08:54] #68 closed, assigned to nobody

[2022-07-26 22:22] sstainba commented on #56
Once your model is in ONNX format, you can use Netron to inspect it and see the input/output.  You use this info to set the values in your inherited model class.

For example, my model has an input that is a float32[1, 3, 640, 640].
That corresponds to the batch size, color depth (I think), height, width

My output is float32[1, 25200, 6].  For this, I am no sure what the '1' is for... but it seem

[2022-07-26 22:26] sstainba commented on #53
I don't understand wtf he said fixed it... BUT... I was having the same issue and the key was the "Dimensions" property on the inherited class.  I left it as the default cause I have no idea what it means.  Didn't find anything.  But, I used Netron to inspect my ONNX file and the output was of type float32[1, 25200, 6].  I guessed that the last dimension in the tensor was the "Dimensions" here...

[2022-07-26 22:28] sstainba commented on #52
These are top-level using statements.  They don't require braces like the older syntax.  They are a feature of newer code.  Use VS 2022 and the latest C# version.

Alternatively, you could just use the braces like the older syntax and it will work fine.

[2022-07-26 22:32] sstainba opened #69 "Documentation for model class properties"
For those of us who are newer to this, could you provide some more documentation on the YoloModel class and how the properties we need to override relate to our model?  Perhaps show an example input/output tensor and then which values to use for which properties?

Specifically, the Dimensions, Strides, Anchors, Shapes and Confidence values.

[2022-07-31 20:34] sstainba opened #70 "Exception if image size is not 640x640"
Inherited from the YoloModel base class per instructions, but images are 1280x1024.  Set this as the value for the height/width on the new class but this causes an exception to be thrown when attempting to predict the objects.

[2022-08-04 10:31] GeneralSyb commented on #53
Sorry for the late reply, I was on vacation.

Thank you for your reply, but which inherited class do you mean? I can't seem to find anything with a Dimensions property.

[2022-08-05 02:03] sstainba commented on #53
the inherited class you write.  for a custom model, he says you have to inherit from the yolomodel base class.  it has a property for "dimensions."  but, after reading more, i think it actually means the dimensions of the float array (which in this case is 3).  i think it only seemed to work for me because 6 is a multiple of 3.

[2022-08-07 13:22] GeneralSyb commented on #53
I didn't write any inherited class, I'm pretty sure. I used this to train and create my onnx file.

[2022-08-12 21:36] Jcrueger commented on #66
I had this same issue running thru visual studio in debug mode. Building the solution and running the exe solved it for me.

[2022-08-18 23:58] Red007Master commented on #70
"640x640" don't for input images but it's size that you trained your model for:
!python train.py --img 640 --batch 16 --epochs 3000 --data data.yaml --cfg ./models/customModel.yaml --weights '' --cache

 "--img 640"=you need 640x640 (this is size that your model is trained and your input images will be resized to that size)

[2022-08-18 23:58] Red007Master commented on #70
"640x640" don't for input images but it's size that you trained your model for:
!python train.py --img 640 --batch 16 --epochs 3000 --data data.yaml --cfg ./models/customModel.yaml --weights '' --cache

"--img 640"=you need 640x640 (this is size that your model is trained and your input images will be resized to that size)

[2022-08-19 00:08] Red007Master commented on #69
Well you need set dimension to {Lables.count}+5 to make it work. (all i can really help with) but most of values (Strides, Anchors, Shapes) it's related to training process (i believe so but Anchors 100% related)
(I made fork with model save/load to/from json functionality if you need it: github.com/Red007Master/yolov5-net-SaveLoadModels)
If you have and questions i glad to help(if i can).

[2022-08-19 00:08] Red007Master commented on #69
Well you need set dimension to {Lables.count}+5 to make it work. (all i can really help with) but most of values (Strides, Anchors, Shapes) related to training process (i believe so but sure about Anchors)
(I made fork with model save/load to/from json functionality if you need it: github.com/Red007Master/yolov5-net-SaveLoadModels)
If you have and questions i glad to help(if i can).

[2022-08-19 00:16] Red007Master commented on #63
It's look like yolox is anchor-free so i don't sink so, but try to train it to yolov5 and run in github.com/ultralytics/yolov5 (detect.py) and if it work try to adjust model to you training values, or if you need speed just use [nano](https://github.com/ultralytics/yolov5#:~:text=%40640%20(B)-,YOLOv5n,-640)

[2022-08-19 00:17] Red007Master commented on #63
It's look like yolox is anchor-free so i don't sink so, but try to train it to yolov5 and run it in github.com/ultralytics/yolov5 (detect.py) and if it work try to adjust model to you training values, or if you need speed you can use [nano](https://github.com/ultralytics/yolov5#:~:text=%40640%20(B)-,YOLOv5n,-640)

[2022-08-19 00:20] Red007Master commented on #54
Do default configuration with default image work?

[2022-08-19 00:21] Red007Master commented on #54
Do default configuration with default image work?

[2022-08-19 01:27] sstainba commented on #70
The model was trained with 1280x1024.  The problem was the model export, actually.  I didn't realize the export script needed the same size arguments to set the correct input size. I re-exported the model and it worked fine after that.

[2022-08-19 01:32] sstainba commented on #69
Yeah, I've learned that in the past week or so.  The anchors come from the yolo config files but I'm still not sure about strides (which all seem to be base-2 with the same count as the anchors) or the shapes.

I do think this project needs a little love - specifically some abstraction into interfaces and maybe re-work to make it configurable at runtime instead of a generic needing a the inherited

[2022-08-19 14:54] alessiopierdominici opened #71 "Custom Model Setup"
Hello guys, I am new to these libraries, I have problems with the C# sharp file to config the custom model, probably I have set up bad the Anchors, Strides, and other stuff cause I did not understand how to set up those values.

This is the Class that extends the abstract Class YoloModel and I will load my model as file:

public class Class1 : YoloModel
    {
        public override int Width { ge

[2022-08-21 14:53] Jcrueger commented on #71
Your stride is going to be 8,16,32 shapes are gonna be 80,40,20  and dimensions are gonna be how many Labels you have +5 which in your case looks to be 9

[2022-08-21 15:00] Jcrueger commented on #65
This line needs to be before the while loop->
using var scorer = new YoloScorer<YoloCocoP5Model>("yolov5s.onnx");

[2022-08-21 17:26] Jcrueger commented on #47
I tried this out by changing the Parallel.for loops to regular for loops like this:
`
                   for (int y = 0; y < bitmapData.Height; y++)
                   {
                   byte* row = (byte*)bitmapData.Scan0 + (y * bitmapData.Stride);
                   for(int x = 0; x < bitmapData.Width; x++)
                   {
                              tensor[0, 0, y, x] = row[x * bytesPe

[2022-08-22 15:18] gillonba commented on #47
I work primarily on Linux, so it could have to do with different implementations of the .Net framework.  I did run a test on a Windows PC and performance seemed much better, though I did not evaluate which method is best.  Intuitively though, since there is a fair amount of overhead running Parallel.For, it would seem best to at least convert the inner one to a standard for.  It seems unlikely tha

[2022-08-23 09:14] alessiopierdominici commented on #71
I didn't understand why those values but thank you so much for helping me.

[2022-09-13 02:13] theo2f opened #72 "YOLOv7"
Hi! Nice job on this project!
Well, I would to know if you have plans to portate to YOLOv7 too. Hard to find projects on v7.

[2022-09-13 08:22] Webreaper opened #73 "Refactor to remove System.Drawing"
Hi,

I'm trying to refactor this to remove `System.Drawing`, as it's no longer supported on Linux in .Net 7. But I think the tensor setup isn't right. Can you have a look, and possibly upgrade this example to use ImageSharp? I think the code should look something like this, but it's not quite working..... for a simple image it comes back with 32,000 matches when it should be about 5.
[code]
[code]

[2022-09-13 08:31] Webreaper commented on #44
I have this sample working on MacOS. See https://github.com/Webreaper/Damselfly/tree/master/Damselfly.ML.ObjectDetection.ML.

[2022-09-13 10:18] Webreaper commented on #73
Actually, I think it is working after all!

[2022-09-13 10:18] #73 closed, assigned to nobody

[2022-09-14 12:10] Steven-L-42 commented on #72
ye hope he plan to port yolov7 to C# too. this would be awesome

[2022-09-15 13:33] virgilKing commented on #72
I hope you fit Yolov7

[2022-09-25 06:02] byung82 commented on #72
my yolov7.class

internal class YoloV7Model : YoloModel {
  public override int Width { get; set; } = 960;
  public override int Height { get; set; } = 544;
  public override int Depth { get; set; } = 3;
  public override int[] Strides { get; set; } = new int[] { 8, 16, 32 };
   public override int Dimensions { get; set; } = 50; -- num class + 5
  public override int[][][] Anchors { get; set; } =

[2022-10-09 16:54] subsneer commented on #43
If smb still looking for solution. Looks like I have one.
CUDA version: cuda_11.4.4_472.50_windows
cuDNN version: cudnn-11.4-windows-x64-v8.2.2.26.zip (all dll placed into project output dir)
nuget: Microsoft.ML.OnnxRuntime.Gpu 1.13.0

Set options with sample code (https://onnxruntime.ai/docs/execution-providers/CUDA-ExecutionProvider.html#install):
var cudaProviderOptions = new OrtCUDAProviderOpt

[2022-10-19 10:13] pankajsaini1987 opened #74 "how to run on live rtsp stream the same code."
i want to test this model on live rtsp stream instead of image, how i can do that?

[2022-10-23 17:03] magicsoft75 opened #75 "Custom model and problem."
Hi.
Thank you for the solution - it looks good :-)
Unfortunately, I have a problem.
I trained a model (4 classes), converted to onnx - works with detect.py but doesn't work with Yolov5Net.
Model input/output: images/output0.
I changed Dimmensions to 9 - what else do I have to change?
Thank you
![errOnnx](https://user-images.githubusercontent.com/73751138/197405289-9797ec5b-9c3b-4473-aaac-e80329423

[2022-10-26 18:15] magicsoft75 commented on #75
Ok, I have it ;-)
In file YoloCocoP5Model.cs we have to change:
public override int Dimensions { get; set; } = **9**; //Number of class + 5
public override List<YoloLabel> Labels { get; set; } = new List<YoloLabel>()
{ **to own labels**
and
public override string[] Outputs { get; set; } = new[] { "**output0**" };

[2022-11-20 09:04] subsneer commented on #72
You could check ivilson/Yolov7net